[Unit]
Description=Bananacraft Streamlit App
After=network.target

[Service]
User=nakanishi_ryot
WorkingDirectory=/home/nakanishi_ryot/bananacraft-core
ExecStart=/home/nakanishi_ryot/bananacraft-core/venv/bin/streamlit run app/main.py --server.port 8501
Restart=always
RestartSec=10
EnvironmentFile=/home/nakanishi_ryot/bananacraft-core/.env

[Install]
WantedBy=multi-user.target